.checkout_ad {
    display: flex;
    width: 100%; /* Stretch to full page width, or adjust to your preference */
    height: 30vh; /* Full page height (viewport height) */
    margin-bottom: 10px;
    overflow: hidden; /* Ensures content doesn't spill over */
}

.checkout_ad img {
    width: 100%; /* Maintain aspect ratio */
    height: 50%; /* Stretch to fit height */
    display: block; /* Prevents extra spaces below the image */
}
.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-radius: 1px solid lightgray;
}
.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
  
}
